$schema: 'http://json.schemastore.org/prettierrc'
useTabs: true
tabWidth: 2
printWidth: 90
trailingComma: 'all'
jsxBracketSameLine: true
arrowParens: 'avoid'
endOfLine: 'lf'
singleQuote: true
proseWrap: 'never'
htmlWhitespaceSensitivity: 'ignore'
overrides:
  - files: '.prettierrc'
    options:
      parser: 'yaml'
  - files:
      - '*.yml'
      - '*.sass'
    options:
      useTabs: false
