.ds_svg {
	@include scut-size(100%);
	display: inline-block;
	vertical-align: top;
	flex-shrink: 0;
	font-style: normal;
	fill: currentColor;

	svg {
		@include scut-size(100%);
		display: inline-block;
		vertical-align: top;
	}
}
