@import 'base/variables';
@import 'base/mixins';

//

@import 'base/scut';
@import 'base/mq';
@import 'base/normalize';

//

@import 'shared/layout';
@import 'shared/sprite';
@import 'shared/elems';
@import 'shared/header';

//

.ds_app {

}

.ds_main {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background: $dark;
	transition: background $transition-base-easing;

	//

	@include isLight {
		background: $light;

		.ds_proportions {
			&_swap {
				fill: $dark;
			}

			li {
				color: $dark;

				label {
					color: rgba($dark, 0.07);
				}

				input {
					color: $dark;
					border-color: $dark;
				}
			}
		}
	}
}

.ds_proportions {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;

	&_input {
		flex-grow: 1;

		&._res {
			&._border {
				input {
					border-color: $accent;
				}
			}

			input {
				color: $accent !important;
				pointer-events: none;
			}
		}
	}

	&_swap {
		width: 35px;
		height: 35px;
		display: block;
		fill: $light;
		transition: $transition-base;
		cursor: pointer;

		&:hover {
			fill: $accent;
		}
	}

	li {
		padding: 0 15px;
		position: relative;
		font-weight: 700;
		font-size: 3.6vw;
		color: $light;
		transition: $transition-base;

		label {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 15vw;
			color: rgba($light, 0.04);
			font-style: italic;
			transition: $transition-base;
			pointer-events: none;
			font-weight: 800;
		}

		> div {
			width: 100%;
		}

		input {
			border: 0;
			color: $light;
			border-bottom: 2px solid $light;
			padding: 10px 0;
			width: 100%;
			background: none;
			font-size: 4vw;
			position: relative;
			z-index: 1;
			text-align: center;
			font-weight: 700;
			transition: $transition-base;
			font-family: $font-base;

			&::-webkit-inner-spin-button {
				display: none;
			}

			&:focus {
				border-color: $accent;
			}
		}
	}
}

//

.ds_input {
	position: relative;

	@include isLight {
		label {
			background: $light;
			color: $dark;
		}

		input,
		.input {
			color: $dark;
			border-color: $dark;
		}
	}

	label {
		position: absolute;
		top: -6px;
		left: 2px;
		display: block;
		background: $dark;
		font-size: 13px;
		color: $light;
		padding: 0 3px;
		letter-spacing: 0.5px;
		transition: $transition-base;
		user-select: none;
	}

	input,
	.input {
		border: 2px solid $light;
		color: $light;
		border-radius: 3px;
		background: none;
		height: 35px;
		line-height: 35px;
		width: 70px;
		padding: 0 6px;
		font-size: 18px;
		font-family: $font-base;
		transition: $transition-base;
		user-select: none;
	}
}
