// Fonts
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap';

// Variables
$dark: #051c2c;
$accent: #ff7f32;
$light: #f2f2f2;

$font-base: 'Inter', sans-serif;

//
$transition-cubic-bezier: cubic-bezier(0.3, 0, 0, 1);
//
$transition-base-time: 0.75s;
$transition-base-easing: $transition-base-time $transition-cubic-bezier;
$transition-base: all $transition-base-easing;

// Global
* {
	outline: 0 !important;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: $font-base;

	&,
	* {
		letter-spacing: -0.04em;
	}
}

.ds_svg {
	&,
	svg {
		width: 100%;
		height: 100%;
		display: inline-block;
		vertical-align: top;
	}
}

// Styles
.ds_main {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background: $dark;
	transition: background $transition-base-easing;

	&._light {
		background: $light;

		.ds_proportions {
			&_swap {
				fill: $dark;
			}

			li {
				color: $dark;

				label {
					color: rgba($dark, 0.07);
				}

				input {
					color: $dark;
					border-color: $dark;
				}
			}
		}

		.ds_fixed_changer {
			.plus,
			.minus {
				fill: $dark;

				&:hover,
				&:active {
					fill: $accent;
				}
			}

			.value {
				label {
					color: $dark;
					background: $light;
				}

				input {
					border-color: $dark;
					color: $dark;
				}
			}
		}

		.ds_theme_switcher {
			.switch {
				background: $dark;

				&::before {
					background: $light;
					transform: translate3d(0px, 0, 0);
				}
			}
		}
	}

	.ds_proportions {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;

		&_input {
			flex-grow: 1;

			&._res {
				&._border {
					input {
						border-color: $accent;
					}
				}

				input {
					color: $accent !important;
					pointer-events: none;
				}
			}
		}

		&_swap {
			width: 30px;
			height: 30px;
			display: block;
			fill: $light;
			transition: $transition-base;
			cursor: pointer;

			&:hover {
				fill: $accent;
			}

			&._nope {
				opacity: 0.3;
				pointer-events: none;
			}
		}

		li {
			padding: 0 15px;
			position: relative;
			font-weight: 700;
			font-size: 5vw;
			color: $light;
			transition: $transition-base;

			label {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 15vw;
				color: rgba($light, 0.04);
				font-style: italic;
				transition: $transition-base;
				pointer-events: none;
				font-weight: 800;
			}

			> div {
				width: 100%;
			}

			input {
				border: 0;
				color: $light;
				border-bottom: 2px solid $light;
				padding: 10px 0;
				width: 100%;
				background: none;
				font-size: 4vw;
				position: relative;
				z-index: 1;
				text-align: center;
				font-weight: 700;
				transition: $transition-base;
				font-family: $font-base;

				&::-webkit-inner-spin-button {
					display: none;
				}

				&:focus {
					border-color: $accent;
				}
			}
		}
	}
}

.ds_tools {
	position: fixed;
	top: 20px;
	right: 20px;
	display: flex;
	align-items: center;
}

.ds_theme_switcher {
	display: flex;

	.sun,
	.moon {
		width: 25px;
		height: 25px;
		display: block;
		cursor: pointer;
	}

	.switch {
		width: 50px;
		height: 25px;
		background: $light;
		position: relative;
		border-radius: 1000px;
		margin: 0 10px;
		transition: $transition-base;
		cursor: pointer;

		&::before {
			content: '';
			position: absolute;
			top: 2px;
			left: 2px;
			width: 21px;
			height: 21px;
			background: $dark;
			border-radius: 1000px;
			transition: $transition-base;
			transform: translate3d(25px, 0, 0);
		}
	}
}

.ds_fixed_changer {
	margin-right: 30px;
	display: flex;
	align-items: center;

	.plus,
	.minus {
		width: 20px;
		height: 20px;
		display: block;
		cursor: pointer;
		fill: $light;
		transition: $transition-base;

		&:hover,
		&:active {
			fill: $accent;
		}

		&._disabled {
			opacity: 0.2;
			pointer-events: none;
		}
	}

	.ds_input {
		margin: 0 10px;

		input,
		.input {
			text-align: right;
		}
	}
}

.ds_unit_append {
	margin-right: 30px;
}

//

.ds_input {
	position: relative;

	._light & {
		label {
			background: $light;
			color: $dark;
		}

		input,
		.input {
			color: $dark;
			border-color: $dark;
		}
	}

	label {
		position: absolute;
		top: -6px;
		left: 2px;
		display: block;
		background: $dark;
		font-size: 13px;
		color: $light;
		padding: 0 3px;
		letter-spacing: 0.5px;
		transition: $transition-base;
		user-select: none;
	}

	input,
	.input {
		border: 2px solid $light;
		color: $light;
		border-radius: 3px;
		background: none;
		height: 35px;
		line-height: 35px;
		width: 70px;
		padding: 0 6px;
		font-size: 18px;
		font-family: $font-base;
		transition: $transition-base;
		user-select: none;
	}
}
